<section class="block block-gallery">
	{% if section.full_width %}
  	<div class="container-full">
  	{% else %}
	<div class="container">
  	{% endif %}
  		<div class="py-1 py-md-4">
			{% if section.portrait_photos %}
				<div class="slider" data-flickity='{ "wrapAround": true, "imagesLoaded": true, "percentPosition": false }'>
			{% else %}
				<div class="slider slider-portrait" data-flickity='{ "wrapAround": true, "imagesLoaded": true, "percentPosition": false }'>
			{% endif %}	

			      {% for img in section.gallery %}
				    
				          <img class="carousel-image" src="{{ img | relative_url }}">
				
			      {% endfor %}

			 </div>

    	</div>
	</div>
</section>