<section class="block block-gallery">
	{% if section.full_width %}
  	<div class="container-full">12
  	{% else %}
	<div class="container">
  	{% endif %}
  		<div class="py-4">
			
			<div class="slider" data-flickity='{ "wrapAround": true, "imagesLoaded": true, "percentPosition": false }'>

			      {% for img in section.gallery %}
				     <div class="carousel-cell">
				     	<div class="slide-inner">
				          <img class="w-100 d-block mx-1" src="{{ img | relative_url }}" alt="">
				      	</div>
				      </div>
			      {% endfor %}

			 </div>

    	</div>
	</div>
</section>