<div class="cta text-left">

	<h2 class="text-primary h1 mb-1">Questions?<br>We're here to help.</h2>
	<h3 class="mb-2">We'd love to hear from you.</h3>
	
	<script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
	onload="if(submitted) {window.location='/thankyou';}"></iframe>

	<form id="enquiryform" class="enquiry-form" method="post" action="" target="hidden_iframe" onsubmit="submitted=true;">
		
		<div class="row">

		<div class="form-group col-md-6">
		    <label for="Name">Name</label>
		    <input name="entry.156246134" type="text" class="form-control" id="Name" placeholder="" required>
		</div>

		<div class="form-group col-md-6">
		    <label for="Business">Email</label>
		    <input name="emailAddress" type="text" class="form-control" id="Business" placeholder="" required>
		</div>

		<div class="form-group col-md-6">
		    <label for="Number">Phone</label>
		    <input name="entry.118947275" type="text" class="form-control" id="Number" placeholder="" required>
		</div>

		<div class="form-group col-md-6">
		    <label for="Email">Business Company</label>
		    <input name="entry.1615509766" type="text" class="form-control" id="Email" placeholder="">
		</div>

		<div class="form-group col-md-12">
		    <label for="Message">Message</label>
		    <textarea name="entry.1070997577" class="form-control" id="Message" rows="1"></textarea>
		</div>
			

		<div class="col-md-12 mt-1 action">

			<div class="g-recaptcha" data-callback="onSubmit" data-error-callback="sdlkf" data-sitekey="6LdGxPoUAAAAAI2i7sNi8cpyKyoGRyEhGjVKZd11"></div>

	  		<button type="submit" class="mt-1 btn btn-submit">Send Message</button>
	  	</div>

	  	</div>

	</form>

</div>