<div class="cta text-left">

	<h2 class="text-light h1 mb-3">Call VA NOW for your <br>free set of steak knives!</h2>

	<form class="col-6">
		
		 <div class="form-group">
		    <label for="Name">First Namel</label>
		    <input type="text" class="form-control" id="Name" placeholder="">
		  </div>

		   <div class="form-group">
		    <label for="Business">Business</label>
		    <input type="text" class="form-control" id="Business" placeholder="">
		  </div>

		  <div class="form-group">
		    <label for="Number">Contact Number</label>
		    <input type="text" class="form-control" id="Number" placeholder="">
		  </div>

		  <div class="form-group">
		    <label for="Email">Email</label>
		    <input type="text" class="form-control" id="Email" placeholder="">
		  </div>

		  <div class="form-group">
		    <label for="Message">Message</label>
		    <textarea class="form-control" id="Message" rows="3"></textarea>
		  </div>


	   <button type="submit" class="btn btn-primary">Enquire Now</button>

	</form>

</div>