<header id="header" class="position-absolute w-100 d-flex flex-row align-items-center py-1 px-1 px-md-2 {{include.headerClass}}">


      <a class="logo-nav" href="{{site.baseurl}}/">
        <img class="logo" alt="{{site.title}}" src="{{site.baseurl}}/dist/images/logo.svg" />
      </a>

       <nav class="nav-primary ml-auto">

         <ul class="nav menu-nav">
            {% for link in site.menus.navigation %}
            <li class="nav-item {% if link.children %}nested {% endif %}{% if url == link.url %}active{% endif %}">
               <a class="nav-link {% if url == link.url %}active{% endif %}" href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>

      </nav>


</header>

