<div class="card work-teaser work-teaser-alt mb-2 mb-md-0" style="background-color: {{ project.brand_primary_color }}">
	<h3>{{ project.title }}</h3>
	<a href="{{ project.url | absolute_url }}" title="{{ project.title }}">
		<figure>
			{% if project.teaser_image and project.teaser_image != "" %}
	<!-- 			{% responsive_image_block %}
				  path: {{ project.teaser_image | remove_first:'/' }}
				  alt: {{ project.title }}
				  {% if title %}
				  title: {{ project.title }}
				  {% endif %}
				{% endresponsive_image_block %} -->

				{% picture teasers {{ project.teaser_image }} --alt {{ project.title }} %}

			{% else %} 
				<img class="w-100 d-block" src="https://www.fillmurray.com/640/360" alt="{{ project.title }}">
			{% endif %}
			<!-- <figcaption>
				<h4 class="mb-0 h3">{{ project.sub_heading }}</h4>
				<span class="text-uppercase">{{ project.key_service }}</span>
			</figcaption> -->
			{% if project.client_logo and project.client_logo != "" %}
			<span class="logo d-flex justify-content-center align-items-center">
				{% svg "{{ project.client_logo }}" width='275' class='logo-teaser' %}
			</span>
		    {% endif %}
		</figure>
	</a>
</div>