#va-slides {
  height: 100vh;

  img {
    height: 100vh;
    object-fit: cover;
  }
}

.hero-video-front {
  height: 100vh;
  width: 100%;
}

.hero-copy {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4em;
	max-width: 50%;
	text-align: right;
}
.project-logo-teaser {
	path, circle, polygon, rect {
		fill: $white;
	}
}