header {
  z-index: 10;
  .logo {
    max-width: 100px;
    height: auto;
  }
  nav {
     a.nav-link {
      color: $white;
      display: block;
      position: relative;
      padding: 0.5em 0;
      margin: 0 0.5em;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        left: auto;
        width: 0;
        height: 1px;
        z-index: 2;
      }
      &:before {
        background-color: $primary-color;
        transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
      }
      &:after {
        background-color: $white;
        transition: all .25s cubic-bezier(.694,.048,.335,1);
      }
      &:hover {
        color: $white;
        &:after, &:before { 
          width: 100%;
          left: 0;
        }

      }
    }
  }

}

.btn-scroll {
    right: -20px;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 10;
    background: transparent;
    border: none;
    display: block;
    .text {
      -webkit-animation: btnScrollText 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      animation: btnScrollText 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      color: #fff;
      display: block;
      font-size: 14px;
      font-size: .875rem;
      left: -10px;
      position: relative;
      top: -20px;
      text-transform: uppercase;
      -webkit-transform: rotate(90deg) translateX(-100%);
      -ms-transform: rotate(90deg) translateX(-100%);
      transform: rotate(90deg) translateX(-100%);
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    &:after {
      display: block;
      content: " ";
      -webkit-animation: btnScrollLine 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      animation: btnScrollLine 1.5s 0s infinite cubic-bezier(.645,.045,.355,1) both;
      background-color: #fff;
      height: 76px;
      -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      transform-origin: left bottom;
      width: 1px;
    }
}

// Enquiry Form


footer.site-footer {
  background: $black;
  .footer-logo {
      max-width: 170px;
      height: auto;
      margin-bottom: 2em;
  }
  a {
      color: $white;
      display: inline;
      position: relative;
      padding: 0;
      margin: 0;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        right: 0;
        left: auto;
        width: 0;
        height: 1px;
        z-index: 2;
      }
      &:before {
        background-color: $primary-color;
        transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
      }
      &:after {
        background-color: $white;
        transition: all .25s cubic-bezier(.694,.048,.335,1);
      }
      &:hover {
        text-decoration: none;
        color: $white;
        &:after, &:before { 
          width: 100%;
          left: 0;
        }

      }
  }
}