---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

<section class="section section-article-hero bg-dark">
	
		<style>
		.section-article-hero:before {
			background-image: url('https://source.unsplash.com/1500x500/?{{ post.title }}');
		}
		</style>
		

	<div class="hero-title pt-9 pb-4">
		<div class="container">
			<div class="row justify-content-center">
			<div class="col-lg-6">
				<h1 class="text-primary mb-1">{{ page.title }}</h1>
				<h4 class="text-primary font-headings">{{ page.date | date_to_long_string  }}</h4>
				{% if page.sub_heading and page.sub_heading != "" %}
				<h3 class="text-light mt-1h">{{ page.sub_heading }}</h3>
				{% endif %}
				
			</div>
		</div>
	</div>

</section>


	

<div class="container section-main pt-4 pt-md-2">

		<div class="row d-flex justify-content-center" data-aos="fade-in">
		
			<div class="col-lg-6 body-text">
		

				{{ page.content  | markdownify }}


			</div>

		</div>

</div>


{% for section in page.page_sections %} 
	{% include block-{{ section.block }}.html %}
{% endfor %} 


<div class="container section-bottom">
		
		<div class="row py-4" data-aos="fade-in">
			<div class="col-lg-6 offset-lg-3">
			
			<div class="share-panel">
				<button class="share-button" data-sharer="twitter" data-title="Check out this article: {{ page.title }}" data-hashtags="weareva" data-url="{{ page.url | absolute_url }}">Share on Twitter</button>
				<button class="share-button" data-sharer="facebook" data-hashtag="weareva" data-url="{{ page.url | absolute_url }}">Share on Facebook</button>
				<button class="share-button" data-sharer="linkedin" data-url="{{ page.url | absolute_url }}">Share on Linkedin</button>
			</div>

				<a class="back-link" href="/articles">Back to all Articles</a>
			</div>
	</div>
</div>
<section class="section section-cta bg-dark">
	
	<div class="container py-6">
		{% include calltoaction.html %}
	</div>
	
</section>
