---
layout: default
---
{% comment %}
	This layout is used to by articles.md to display all of documents in
	the _articles/ collection
{% endcomment %}


<section class="section section-article-hero bg-dark">
	 
	<div class="hero-title pt-9 pb-4">
		<div class="container">
			<div class="col-md-6 pl-0">
				<h1 class="text-primary mb-0">Articles</h1>
				<h3 class="text-light">The latest from the VA Team</h3>
			</div>
		</div>
	</div>

</section>

<section class="section-articles bg-light">

	<div class="container py-4">
			

			<div class="row-work row d-flex py-3">

				
							
				{% assign articles = site.article | sort: 'date' | reverse %}

				{% for post in articles limit:1 %}
				
					<article class="col-md-12 article-teaser article-feature mb-2 pb-2 border-bottom">
						
						<div class="row align-items-stretch">
							<div class="col-md-6 pr-0">
								<a title="{{ post.title }}" href="{{ post.url | absolute_url }}">
								<figure>
									{% if post.banner_image and post.banner_image != "" %}
										{% picture teasers {{ post.banner_image }} --alt {{ post.title }} %}
									{% else %} 
										<img class="w-100 d-block" src="https://source.unsplash.com/640x360/?{{ post.title }}" alt="{{ post.title }}">
									{% endif %}
								</figure>
								</a>
							</div>
							<div class="col-6 pl-0">

								<div class="p-3 col-inner h-100">
								
									<h2><a title="{{ post.title }}" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
									<h4 class="text-dark font-headings">{{ post.date | date_to_long_string  }}</h4>
								
									<p class="text-dark">{{ post.content | strip_html | truncatewords: 45 }}</p>
									    
									<a title="Read {{ post.title }}" class="text-primary link-btn" href="{{ post.url | absolute_url }}">Read</a>

								</div>

							</div>

						</div>

					</article>

				{% endfor %}


				{% for post in articles offset:1 limit:99 %}
				
					<article class="col-md-4 article-teaser mb-2 pb-2">
						
								<a title="{{ post.title }}" href="{{ post.url | absolute_url }}">
									<figure class="m-0">
										{% if post.banner_image and post.banner_image != "" %}
											{% picture teasers {{ post.banner_image }} --alt {{ post.title }} %}
										{% else %} 
											<img class="w-100 d-block" src="https://source.unsplash.com/640x360/?{{ post.title }}" alt="{{ post.title }}">
										{% endif %}
									</figure>
								</a>

								<div class="p-2 col-inner mH">
									<h3><a title="{{ post.title }}" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
										<h4 class="text-dark font-headings">{{ post.date | date_to_long_string  }}</h4>
									
									{% if post.sub_heading and post.sub_heading != "" %}
							          	<p class="text-dark">{{ post.sub_heading }}</p>
							          	<a title="Read {{ post.title }}" class="text-primary link-btn" href="{{ post.url | absolute_url }}">Read</a>
							          {% else %}
										<p class="text-dark">{{ post.content | strip_html | truncatewords: 25 }}</p>
										<a title="Read {{ post.title }}" class="text-primary link-btn" href="{{ post.url | absolute_url }}">Read</a>
									{% endif %}
								</div>
					</article>

				{% endfor %}
		</div>
	</div>
</section>
