---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

<section class="section section-article-hero bg-dark">
	


	
		<style>
		.section-article-hero:before {
			background-image: url('https://source.unsplash.com/640x360/?{{ post.title }}');
		}
		</style>
		
	

	<div class="hero-title pt-9 pb-4">
		<div class="container">
			<div class="col-lg-7 pl-0">
				<h1 class="text-primary mb-0">{{ page.title }}</h1>
				<h4 class="text-primary">{{ page.date | date_to_long_string  }}</h4>
				{% if page.sub_heading and page.sub_heading != "" %}
					<h3 class="text-light">{{ page.sub_heading }}</h3>
					
				{% endif %}
				
			</div>
		</div>
	</div>

</section>


	

<div class="container section-main py-4 py-md-4">

		<div class="row d-flex justify-content-between" data-aos="fade-in">
		
			<div class="col-lg-8">

				{{ page.content  | markdownify }}


			</div>

		</div>

</div>


{% for section in page.page_sections %} 
	{% include block-{{ section.block }}.html %}
{% endfor %} 


<div class="container section-bottom">
		
		<div class="row py-4" data-aos="fade-in">

			<a class="back-link" href="/articles">Back to all Articles</a>

	</div>
</div>
<section class="section section-cta bg-dark">
	
	<div class="container py-6">
		{% include calltoaction.html %}
	</div>
	
</section>
