---
layout: default
---
{% comment %}
	This layout is used to by articles.md to display all of documents in
	the _articles/ collection
{% endcomment %}



<!-- <section class="section section-hero">
	
	{% if page.hero_video and page.hero_video != "" %}
		<div class="hero-video" data-vide-bg="{{ page.hero_video | relative_url }}" data-vide-options="position: 0% 0%"></div>
	{% else %}
		{% if page.hero_image and page.hero_image != "" %}
		<img class="d-block w-100" src="{{ page.hero_image | relative_url }}" alt="{{ page.title }}">
		{% endif %}
	{% endif %}
	 
	

</section> -->

<div class="container py-8">
		

		<div class="row-work row d-flex py-3">
						
			{% assign articles = site.article | sort: 'date' | reverse %}

			{% for post in articles limit:1 %}
			
				<article class="col-md-12 article-teaser article-feature mb-2 pb-2 border-bottom">
					
					<div class="row align-items-center">
						<div class="col-md-6 pr-0">
							<a title="{{ post.title }}" href="{{ post.url | absolute_url }}">
							<figure>
								{% if post.banner_image and post.banner_image != "" %}
									{% picture teasers {{ post.banner_image }} --alt {{ post.title }} %}
								{% else %} 
									<img class="w-100 d-block" src="https://www.fillmurray.com/640/360" alt="{{ post.title }}">
								{% endif %}
							</figure>
							</a>
						</div>
						<div class="col-6 pl-0">

							<div class="p-3 col-inner h-100">
							
								<h2><a title="{{ post.title }}" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
					
								<p>{{ post.content | strip_html | truncatewords: 25 }}</p>
								    
								<a title="Read {{ post.title }}" class="btn btn-secondary btn-sm text-primary" href="{{ post.url | absolute_url }}">Read More</a>

							</div>

						</div>

					</div>

				</article>

			{% endfor %}

			{% for post in articles offset:1 limit:99 %}
			
				<article class="col-md-4 article-teaser mb-2 pb-2">
					
							<a title="{{ post.title }}" href="{{ post.url | absolute_url }}">
							<figure class="m-0">
								{% if post.banner_image and post.banner_image != "" %}
									{% picture teasers {{ post.banner_image }} --alt {{ post.title }} %}
								{% else %} 
									<img class="w-100 d-block" src="https://www.fillmurray.com/640/360" alt="{{ post.title }}">
								{% endif %}
							</figure>
							</a>
							<div class="p-1 col-inner mH">
							<h2><a title="{{ post.title }}" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>

				
									{% if post.sub_heading and post.sub_heading != "" %}
							          	<p class="mb-0">{{ post.sub_heading }} 
							          	<a title="Read {{ post.title }}" class="btn btn-secondary btn-sm text-primary" href="{{ post.url | absolute_url }}">Read More</a>
							          </p>
							          {% else %}
							          	<p>{{ post.content | strip_html | truncatewords: 25 }}</p>
							          	<a title="Read {{ post.title }}" class="btn btn-secondary btn-sm text-primary" href="{{ post.url | absolute_url }}">Read More</a>
							          {% endif %}

		

							</div>
				</article>

			{% endfor %}
	</div>
</div>
