---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}



<section class="section section-about">

  <div class="container">
        
        <div class="row justify-content-left py-6" data-aos="fade-in">
      
      <div class="col-md-3">

                    <h2 class="section-heading text-left h1">Sorry - Page not found</h2>

             </div>

            <div class="col-md-6">
          <h3 class="h2">We have recently updated our site and as such some old pages no longer exist.</h3>
           <h4 class="h3">You can see our work below, or contact us <a href="/contact">here</a></h4>
            </div>

        </div>

      </div>

</section>

<div class="container py-8 ">

		
		<div class="row-work row d-flex align-items-end py-3">
		{% assign projects = site.work | sort: "order" %}
	    {% assign visible_projects = projects | where: "hide_on_work_page", "false" %}
		{% for project in visible_projects %}
			
					<div class="col-work col-md-6 p-md-2 teaser-{% increment column %}" data-aos-delay="{% increment column %}0" data-aos="fade-up">
						{% include work-teaser-alt.html %}
					</div> 
		
		{% endfor %}
	</div>
</div>